    <div class="gv-grid" id="gv-grid">    
            {{#each english}}
            <div class="gv-grid-cell" id="gv-grid-cell_{{index}}" data-index="{{index}}">
                    <div class="gv-grid-cell-inner" id="gv-grid-cell-inner_{{index}}" data-index="{{index}}">

                <!-- INSERT CELL STUFF HERE -->


                    </div>
            </div>
	                <!-- {{#each objArr}} 
	                	{{> detailItem }}
	                {{/each}}  -->

            {{/each}}
     </div>