    {{#furniture}}
    <div class="gv-header-background">
        <div class="gv-header-wrapper">
            <div id="gv-header" class="gv-header">
                <span class="gv-strap">{{pagestrap}}</span>
                <h1>{{headline}}</h1>
                <p class="gv-standfirst">{{standfirst}}</p>
                <div class="gv-byline">{{byline}}</div>
                <div class="gv-datestamp">{{datestamp}}</div>
            
                <div class="header-share-container">
                    <button class="interactive-share" data-network="facebook" data-shareurl="{{shareurl}}"></button>
                    <button class="interactive-share" data-network="twitter" data-shareurl="{{shareurl}}"></button>
                    <button class="interactive-share" data-network="email" data-shareurl="{{shareurl}}"></button>
                </div>
               
            </div>

            <svg version="1.1" id="gv-header-background-graphic" width="373px" height="249px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 373 249" style="enable-background:new 0 0 373 249;" xml:space="preserve">
       <g style="opacity:0.1;">
           <path style="fill:#FFFFFF;" d="M20.6,235.8l60.3-60.3c36.9-36.9,67.6-67.6,67.6-109c0-37.3-19.9-56.1-59.2-56.1
               c-26.1,0-43.5,6.3-62.4,16.4V17C45.3,6.9,64.1,0.6,91.3,0.6c44.9,0,69,23.3,69,65.1c0,44.2-32,77-71.8,115.6l-53.6,52.9v0.7h131
               v9.8H20.6V235.8z"/>
           <path style="fill:#FFFFFF;" d="M188.2,129.5v-10.1c0-77,34.8-118.8,92-118.8c56.8,0,90.9,41.1,90.9,118.1v10.5
               c0,77-33.8,118.8-91.3,118.8C222.3,248,188.2,205.8,188.2,129.5z M359.2,130.6v-12.2c0-67.6-26.1-108-79.1-108
               c-53.3,0-79.8,40.1-79.8,107.6v11.8c0,67.9,26.5,108,79.4,108C333.1,237.9,359.2,198.8,359.2,130.6z"/>
       </g>
       </svg>
    
    
        </div>
        </div>
    {{/furniture}}
    



<div class="gv-wrap-all">

    <div id="gv-mobile-dummy"></div>
    <div class="gv-views-wrapper">
    <div id="gv-list-view" class="gv-list-view close">
        <div class="gv-list-view-inner">
        <!--LIST VIEW HERE-->
        </div>
    </div>

    
    <div id="gv-grid-view" class="gv-grid-view open">
        <div class="gv-grid-view-inner"> 
        <!--GRID VIEW HERE-->

        <div class="gv-grid" id="gv-grid">
                {{#players}}    
            <div class="gv-grid-cell"><div class="gv-grid-cell-inner"><div class="gv-grid-cell-image-container"></div><div class="gv-cell-info"></div></div></div>
                {{/players}}
        </div>

        </div>
    </div>
    <div id="gv-fixed-btn-container" class="gv-fixed-btn-container">
    <div id="toggle-view-overlay-btn" class="toggle-view-overlay-btn">
        <svg class="gv-toggle-icon" id="gv-list-icon-svg" width="23px" height="20px" viewBox="0 0 23 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard-Copy-3" transform="translate(-127.000000, -390.000000)" fill="#333333">
                    <g id="Group-7" transform="translate(109.000000, 351.000000)">
                        <g id="Group-Copy" transform="translate(0.000000, 20.000000)">
                            <g id="list-icon" transform="translate(18.000000, 19.000000)">
                                <polygon id="Fill-1" points="0 2 23 2 23 0 0 0"></polygon>
                                <polygon id="Fill-2" points="0 8 23 8 23 6 0 6"></polygon>
                                <polygon id="Fill-2-Copy" points="0 14 23 14 23 12 0 12"></polygon>
                                <polygon id="Fill-2-Copy-2" points="0 20 23 20 23 18 0 18"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <svg class="gv-toggle-icon" id="gv-grid-icon-svg" width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="football-calendar-desktop-main" transform="translate(-127.000000, -388.000000)" fill="#333333">
                    <g id="Group-8-Copy" transform="translate(110.000000, 371.000000)">
                        <g id="Grid-icon" transform="translate(17.000000, 17.000000)">
                            <polygon id="Rectangle-11" points="0.722473145 0 12 0 12 12 0 12 0 0.725082397"></polygon>
                            <polygon id="Rectangle-11-Copy" transform="translate(6.000000, 20.000000) scale(1, -1) translate(-6.000000, -20.000000) " points="0.722473145 14 12 14 12 26 0 26 0 14.7250824"></polygon>
                            <polygon id="Rectangle-11-Copy-4" transform="translate(20.000000, 6.000000) scale(-1, 1) translate(-20.000000, -6.000000) " points="14.7224731 0 26 0 26 12 14 12 14 0.725082397"></polygon>
                            <polygon id="Rectangle-11-Copy-5" transform="translate(20.000000, 20.000000) scale(-1, -1) translate(-20.000000, -20.000000) " points="14.7224731 14 26 14 26 26 14 26 14 14.7250824"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    </div>

</div>

</div>

