<div class="gv-wrap-all">

    <div id="gv-mobile-dummy"></div>


    <!-- #furniture -->
    <div class="gv-header-background">
    <div class="gv-header-wrapper">
        <div id="gv-header" class="gv-header">
            <span class="gv-strap">{{pagestrap}}Football</span>
            <h1>{{headline}}Next Generation 2017: Headline here headline here headline here</h1>
            <p class="gv-standfirst">{{standfirst}}Standfirst here standfirst here standfirst here standfirst here standfirst here standfirst here standfirst here standfirst here</p>
            <div class="gv-byline">{{byline}}</div>
            <div class="gv-datestamp">{{datestamp}}</div>
<!--             <img class="gv-arrows" src="<%= path %>/assets/arrows.png" />-->            
            <div class="header-share-container">
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="email"></button>
            </div>
            <!-- <div class="gv-band-extend gv-left"></div>
            <div class="gv-band-extend gv-right"></div> -->
        </div>
        <div class="gv-band-extend gv-left"></div>
        <div class="gv-band-extend gv-right"></div>
    </div>
    </div>
<!-- /furniture -->















    <!-- <div class="gv-header" id="gv-header">HEADER HERE2
        <div class="gv-band-extend gv-left"></div>
        <div class="gv-band-extend gv-right"></div>
    </div> -->
    <div class="gv-views-wrapper">
    <div id="gv-list-view" class="gv-list-view close">
        <div class="gv-list-view-inner">
        <!--LIST VIEW HERE-->
        </div>
    </div>

    
    <div id="gv-grid-view" class="gv-grid-view open">
        <div class="gv-grid-view-inner"> 
        <!--GRID VIEW HERE-->
        </div>
    </div>
    <div id="gv-fixed-btn-container" class="gv-fixed-btn-container">
    <div id="toggle-view-overlay-btn" class="toggle-view-overlay-btn">
        <svg class="gv-toggle-icon" id="gv-list-icon-svg" width="23px" height="20px" viewBox="0 0 23 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard-Copy-3" transform="translate(-127.000000, -390.000000)" fill="#333333">
                    <g id="Group-7" transform="translate(109.000000, 351.000000)">
                        <g id="Group-Copy" transform="translate(0.000000, 20.000000)">
                            <g id="list-icon" transform="translate(18.000000, 19.000000)">
                                <polygon id="Fill-1" points="0 2 23 2 23 0 0 0"></polygon>
                                <polygon id="Fill-2" points="0 8 23 8 23 6 0 6"></polygon>
                                <polygon id="Fill-2-Copy" points="0 14 23 14 23 12 0 12"></polygon>
                                <polygon id="Fill-2-Copy-2" points="0 20 23 20 23 18 0 18"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <svg class="gv-toggle-icon" id="gv-grid-icon-svg" width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="football-calendar-desktop-main" transform="translate(-127.000000, -388.000000)" fill="#333333">
                    <g id="Group-8-Copy" transform="translate(110.000000, 371.000000)">
                        <g id="Grid-icon" transform="translate(17.000000, 17.000000)">
                            <polygon id="Rectangle-11" points="0.722473145 0 12 0 12 12 0 12 0 0.725082397"></polygon>
                            <polygon id="Rectangle-11-Copy" transform="translate(6.000000, 20.000000) scale(1, -1) translate(-6.000000, -20.000000) " points="0.722473145 14 12 14 12 26 0 26 0 14.7250824"></polygon>
                            <polygon id="Rectangle-11-Copy-4" transform="translate(20.000000, 6.000000) scale(-1, 1) translate(-20.000000, -6.000000) " points="14.7224731 0 26 0 26 12 14 12 14 0.725082397"></polygon>
                            <polygon id="Rectangle-11-Copy-5" transform="translate(20.000000, 20.000000) scale(-1, -1) translate(-20.000000, -20.000000) " points="14.7224731 14 26 14 26 26 14 26 14 14.7250824"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    </div>

</div>

</div>

