    $guardian-brand:         #005689;
    $guardian-brand-light:   #94b1ca;
    $guardian-brand-dark:    #00456e;

    $error:                  #d61d00;
    $success:                #4a7801;

    // Neutral palette
    $neutral-1:              #333333;
    $neutral-2:              #767676;
    $neutral-3:              #bdbdbd;
    $neutral-4:              #dcdcdc;
    $neutral-5:              #eaeaea;
    $neutral-6:              #f6f6f6;

    // $news palette
    $news-main-1:            #005689;
    $news-main-2:            #4bc6df;
    $news-support-1:         #aad8f1;
    $news-support-2:         #197caa;
    $news-support-3:         #69d1ca;
    $news-support-4:         #66a998;
    $news-support-5:         #aad801;
    $news-support-6:         #63717a;
    $news-support-7:         #484f53;

    // $features palette
    $features-main-1:        #7d0068;
    $features-main-2:        #b82266;
    $features-support-1:     #951c55;
    $features-support-2:     #4e0375;
    $features-support-3:     #fdadba;
    $features-support-4:     #dc2a7d;

    // $comment palette
    $comment-main-1:         #c05303;
    $comment-main-2:         #ff9b0b;
    $comment-support-1:      #7d7569;
    $comment-support-2:      #efefec;
    $comment-support-3:      #ffce4b;
    $comment-support-4:      #e6711b;

    // $multimedia palette
    $multimedia-main-1:      #333333;
    $multimedia-main-2:      #ffbb00;
    $multimedia-support-1:   #c5d4ea;
    $multimedia-support-2:   #507892;
    $multimedia-support-3:   #002c59;
    $multimedia-support-4:   #484848;
    $multimedia-support-5:   #161616;

    // Live palette
    $live-main-1: #b51800;
    $live-main-2: #cc2b12;
    $live-support-1:#ff5b3a;
    $live-support-2: #800c0c;
    $live-support-3:#a60947;

    // Maps palette
    $maps-main-1:            #1c6326;
    $maps-main-2:            #298422;
    $maps-support-1:         #ceb41d;
    $maps-support-2:         #a9af2b;
    $maps-support-3:         #5ebfba;
    $maps-support-4:         #72af7e;

    // $external content palette
    $external-main-1:        #1c6326;
    $external-support-1:     #a9af2b;




    $news-red: #c70000;
$feature-red: #880105;
$inverted-red: #ff4e36;
$live-pink: #ffbac8;
$live-red: #ad0006;
$opinion-orange: #e05e00;
$feature-orange: #bd5318;
$inverted-orange: #ff7f0f;
$background-orange: #fef9f5;
$sport-blue: #0084c6;
$feature-blue: #005689;
$inverted-blue: #00b2ff;
$live-blue: #90dcff;
$culture-gold: #a1845c;
$feature-gold: #6b5840;
$inverted-gold: #eacca0;
$live-gold: #e7d4b9;
$lifestyle-pink: #bb3b80;
$feature-pink: #7d0068;
$inverted-pink: #ffabdb;
$live-pink: #ffbac8;
$neutral-7: #121212;
$neutral-20: #333333;
$neutral-46: #767676;
$neutral-60: #999999;
$neutral-86: #dcdcdc;
$neutral-92: #eaeaea;
$neutral-96: #f6f6f6;
$neutral-100: #ffffff;
$highlight-yellow: #ffe500;


$gu-news: #ff4e36;
$gu-news-kicker: #cc0a11;
$gu-news-headline: #ff1921;
$gu-news-background: #f6f6f6;

$gu-sport: #00b2ff;
$gu-sport-kicker: #056da1;
$gu-sport-headline: #1896d7;
$gu-sport-background: #e6f5ff;

$gu-lifestyle: #ffabdb;
$gu-lifestyle-kicker: #951d7a;
$gu-lifestyle-headline: #df2770;
$gu-lifestyle-background: #ffe6ec;

$gu-opinion: #ff7f0f;
$gu-opinion-kicker: #ed6300;
$gu-opinion-headline: #f5be2c;
$gu-opinion-background: #efefec;

$gu-arts: #eacca0;
$gu-arts-kicker: #9c835f;
$gu-arts-headline: #ab8958;
$gu-arts-background: #f2ebdc;

$gu-grey-1: #676767;
$gu-grey-2: #929297;
$gu-grey-3: #b3b3b4;
$gu-grey-4: #f6f6f6;

$gu-red: $gu-news;
$gu-darkred: $gu-news-kicker;

$gu-blue: $gu-sport;
$gu-darkblue: $gu-sport-kicker;

$gu-orange: $gu-opinion-headline;
$gu-darkorange: $gu-opinion;