@import "mq";
@import "fonts";
@import "palette";

$gs-baseline:12px;
$gs-gutter:20px;
$facewall-bg: $neutral-5;
$header-support: $neutral-5;
$bullet-bg: $multimedia-main-2;
$unselected-color: $neutral-3;
$selected-color: $multimedia-main-2;
$selected-color-support: $comment-main-2;



// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
@import "fullscreen";

$accent-green: #aad801;
$mid-grey: #999999;
$dark-grey: #505050;
$background-grey: #333333;
$background-lightgrey: #f4f4f4;

@import "detailView";
@import "uxItems";
@import "share";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    //background-color: $multimedia-support-4;
    background-color: #ebebeb;
    //overflow:hidden;
    @include mq(desktop){
        overflow:visible;
    }
}

.gv-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.gv-wrap-all{
    position: relative;
    overflow:hidden;
    width: 100%;
    max-width:1100px;
    vertical-align: top;
    margin: 0 auto;
    
    @include mq(desktop){
        //max-width:100%;
    }
}

.gv-list-view {
    position: relative;
    width: 100%;
    //height: 100%;
    min-height: 100vh;
    background-color: $background-lightgrey;

    .gv-list-view-inner {
        margin: 20px 15px;

        @include mq(desktop){
            margin: 0 auto;
            width: 740px;
        }

        .gv-list-entry {

            .gv-list-entry-inner {

                .gv-list-entry-header {
                    position: relative;
                    min-height: 185px;
                    width: 100%;
                    background-color: $background-grey;
                    color: #fff;
                    vertical-align: top;

                    .gv-list-image-container {
                        padding: 5px;
                        height: 140px;
                        position: relative;

                        @include mq(desktop){
                        position: absolute;
                        width: 240px;
                        height: 175px;
                        top: 5px;
                        left: 5px;
                        padding: 0;
                        }

                        .gv-list-image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #ff0000;
                        }

                        .gv-list-image-flag {
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                            height: 30px;
                            width: 30px;
                            background: #fff;
                            z-index: 800;
                            border-radius: 50%;
                            @include mq(desktop){
                                display: none;
                            }
                        }

                    }

                    .gv-list-title {
                        padding: 5px;
                        @include mq(desktop){
                        position: absolute;
                        background-color: #0000ff;
                        width: 300px;
                        height: 55px;
                        top: 5px;
                        left: 260px;
                        padding: 0;
                        }
                    }

                    .gv-list-entry-info {
                        padding: 5px;
                        @include mq(desktop){
                        position: absolute;
                        background-color: #ffff00;
                        height: 120px;
                        width: 300px;
                        top: 60px;
                        left: 260px;
                        padding: 0;
                        }
                    }
                    .gv-list-pitch-graphic {
                        display: none;
                        @include mq(desktop){
                        display: block;
                        position: absolute;
                        background-color: #00ff00;
                        height: 70px;
                        width: 122px;
                        top: 60px;
                        right: 20px;
                        }
                    }
                }

                .gv-list-entry-body-text {
                    padding: 0 20px;
                }
            }









        }
    }
}


.gv-grid-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	overflow:hidden;
    background-color: $background-grey;
    min-height: 100vh;
    transform: translateX(0);
    @include mq(desktop){
        width:calc(100% - 50px);
        left: 50px;
    }
    //transform: translateX(100vw);
    z-index: 1000;
    &.open{
   
        transform: translateX(0);
        transition: transform  0.15s linear;
        transition-delay: 0.15s;
        @include mq(desktop){
            transition-delay: 0s;
        }
    }
    
    &.close{
      
        transform: translateX(100vw);
        transition: transform  0.15s linear;
        @include mq(desktop){
            //display:block;
        }
    }


    @include mq(desktop){
        //transform: translateX(0);
        //position:relative;
        //left:0;
        //margin-left: 50%;
    }

    .gv-grid-view-inner {
        margin: 20px 15px;

        @include mq(desktop){
            margin: 20px 70px;
        }
    }

    .gv-grid {
        width: 105%;
        width: -webkit-calc(100% + 5px);
        width: -moz-calc(100% + 5px);
        width: calc(100% + 5px);

        @include mq(desktop){
            width: 108%;
            width: -webkit-calc(100% + 20px);
            width: -moz-calc(100% + 20px);
            width: calc(100% + 20px);
        }
    }

    .gv-grid-cell {
        position: relative;
        width : 50%; // 2 in row mobile default
        padding-bottom: 50%;
        height: auto;
        margin-bottom: 12px;
        box-sizing: content-box;
        float: left;
        height: 120px;
        @include mq(desktop){
            width : 20%; // 5 in row desktop default
            padding-bottom: 20%;
        }

        .gv-grid-cell-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 5px;
            bottom: 0px;
            background: #767676;
            cursor: pointer;
            border-top: 1px solid $accent-green;

            @include mq(desktop){
                right: 20px;
            }

            .gv-grid-cell-image-container {
                width: 100%;
                position: relative;
                background: #ff0000;
                padding-bottom: 100%;
                pointer-events: none;

                .gv-grid-cell-image {
                }


                .gv-grid-cell-flag {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    height: 30px;
                    width: 30px;
                    background: #fff;
                    z-index: 9999999999;
                    border-radius: 50%;
                }
            }

            .gv-cell-info {

                padding: 15px;
                text-align: center;
                pointer-events: none;

            .gv-cell-number {

            }

            .gv-cell-title {

            }

            .gv-cell-subtitle {
                
            }

        }

        }

        &.disabled {
            
        }

        &:hover {
            //background: #767676;
        }

        
    }
}

.gv-hide {
    display: none;
}





