@import "mq";
@import "fonts";
@import "palette";

$gs-baseline: 12px;
$gs-gutter: 20px;
$facewall-bg: $neutral-5;
$header-support: $neutral-5;
$bullet-bg: $multimedia-main-2;
$unselected-color: $neutral-3;
$selected-color: $multimedia-main-2;
$selected-color-support: $comment-main-2;

$three-in-row: percentage(1 / 3);
$four-in-row: percentage(1 / 4);
$five-in-row: percentage(1 / 5);

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$accent-blue-dark:#0084c5;
$accent-blue:#03bafe;
$accent-green: #aad801;
$mid-grey: #999999;
$dark-grey: #505050;
$text-grey: #676767;
$background-grey: #333333;
$background-lightgrey: #f4f4f4;

@import "detailView";
@import "uxItems";

// @import "share";
html,
body {
    //height: 100%; //overflow-x: hidden;
    overflow-x: hidden;
}

.veggie-burger {
    z-index: 2!important;
}

article header, .content__main .gs-container:first-of-type {
    background-color: #121212!important;
    position: relative!important;

  .content__section-label a {
        color: $accent-blue-dark !important;
    } 

    h1 {
        color: #ffffff !important;
        font-size: 36px !important;
        line-height: 40px !important;
        font-weight: 100;

         @include mq(desktop) {
        font-size: 54px !important;
        line-height: 58px !important;
    }
    } 

    p {
        color: #ffffff !important;

        a {
            color: #999999 !important;
        }
    } 

    


    
}

.content__main {
     background-color: #ececec!important;
}

.content__main .gs-container:nth-of-type(2) {
    background-color: #fafafa!important;
     padding-right: 0!important;
          padding-left: 0!important;
    @include mq(mobileLandscape) {
         padding-right: 0!important;
          padding-left: 0!important;

    
}
}

article header {



    


}

// .gs-container:nth-of-type(1) .content__main-column {
//     max-width: 780px!important;
// }

.content--interactive .content__meta-container {



    //width: 185px;
    width: 265px;
    //opacity: 0.5;

}

.content--interactive .meta__extras, .content__labels {
        border-top: 1px solid  transparent!important;
        border-bottom: 1px solid  transparent !important;
        //width: 230px;
    }

.gv-header-background {
    display: none!important;
    //height: 0;
    //overflow: hidden;
    //opacity: 0;
}



.content__main .gs-container:first-of-type::before {
position: absolute;
width: 500%;
height: 59px!important;
//padding-top: 51px; // STYLE FIX
//background: rgba(255,0,0,0.5);
background: #121212;
//background: #ff0000;
left: -200%;


@include mq(leftCol) {
        //max-width:100%;
        //height: 59px;
        height: 63px!important;
        //margin-top: -63px;
}
@include mq(leftCol) {
        //max-width:100%;
        //height: 63px; // STYLE FIX
         padding-top: 0; // STYLE FIX
        height: 118px; // STYLE FIX
        //margin-top: -118px;
}
}


.content--interactive .block-share__item .inline-icon, .content--interactive .commentcount2__heading span, .content--interactive .inline-close svg, .content--interactive .inline-triangle, .content--interactive .old-article-message .old-article-message--clock svg, .content--interactive .social-icon svg, .content--interactive .social-icon__svg, .content--pillar-news:not(.paid-content) .block-share__item .inline-icon, .content--pillar-news:not(.paid-content) .commentcount2__heading span, .content--pillar-news:not(.paid-content) .inline-close svg, .content--pillar-news:not(.paid-content) .inline-triangle, .content--pillar-news:not(.paid-content) .old-article-message .old-article-message--clock svg, .content--pillar-news:not(.paid-content) .social-icon svg, .content--pillar-news:not(.paid-content) .social-icon__svg {

fill: #fff!important; // STYLE FIX

}

.content--interactive a, .content__series-label__link {
color: #767676!important; // STYLE FIX
}

.content--interactive .bullet::before {
background-color: #767676!important; // STYLE FIX
}

.content--interactive .u-underline:hover, .content--pillar-news:not(.paid-content) .u-underline:hover {
    border-bottom: solid 0.0625rem #fff!important;  // STYLE FIX
}

.content--interactive .block-share__item:focus, .content--interactive .block-share__item:hover, .content--interactive .social-icon:focus, .content--interactive .social-icon:hover, .content--interactive .social-icon.social-icon--more:focus, .content--interactive .social-icon.social-icon--more:hover, .content--pillar-news:not(.paid-content) .block-share__item:focus, .content--pillar-news:not(.paid-content) .block-share__item:hover, .content--pillar-news:not(.paid-content) .social-icon:focus, .content--pillar-news:not(.paid-content) .social-icon:hover, .content--pillar-news:not(.paid-content) .social-icon.social-icon--more:focus, .content--pillar-news:not(.paid-content) .social-icon.social-icon--more:hover {
    background-color: transparent!important;
    border: 0.0625rem solid #fff!important;
}


.element-atom,
.interactive-atom {
    margin: 0 !important; //background-color: $multimedia-support-4;
    //background-color: #ebebeb;
    height: auto; //overflow:hidden;
    @include mq(desktop) {
        //overflow:visible;
    }
}

.interactive-ad-banner {
    display: flex;
    justify-content: center; //margin-top: -20px!important;
    @include mq($from: tablet) {
        .ad-slot--rendered {
            margin: 0 0 80px 0;
        }
    }
}

#gv-mobile-dummy {
    position: absolute;
    display: block;
    @include mq(desktop) {
        display: none;
    }
}

.gv-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

select:focus {outline:none;}

.gv-wrap-all {
    position: relative; //overflow:hidden;
    width: 100%;
    max-width: 1300px;
    vertical-align: top;
    margin: 0 auto;
    min-height: 100vh;
    border-top: 1px solid #fff;
    margin-top: 1px;
    @include mq(tablet) {
        //max-width:100%;
        margin-top: 0;
    }

     @include mq(desktop) {
        &:before {
            content:"";
            display: block;
            position: absolute;
            margin-top: -220px;
            width: 90%;
            height: 220px;
            //background: #ff0000;
            pointer-events: none;

    background-image: url('<%= path %>/assets/header-image-world.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;



        }
     }
}

.gv-views-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    @include mq(desktop) {
    &:after {
        content: "";
        display: block;
        width: auto;
        height: 100%;
        background: #dcdcdc;
        border-left: 1px solid $accent-blue-dark;
        position: absolute;
        left: 50px;
        top: 0;
        z-index: 2;
    }
    }
}

.gv-list-view {
    width: 100%; //height: 100%;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 20px;
    @include mq(desktop) {
        //max-width:100%;
        padding-top: 0px;
    }

    &.open {
        position: relative;
    }
    &.close {
        position: absolute;
    }
    .gv-list-view-inner {
        padding: 40px 10px;

        @include mq(mobileLandscape) {
            padding: 40px 15px;
        }

        @include mq(tablet) {
            padding: 70px 15px;
        }


        @include mq(desktop) {
            margin: 0 auto;
            width: 620px;
            padding: 80px 0 0 0;
        }

        @include mq(leftCol) {
            margin: 0 auto;
            width: 740px;
            padding: 80px 40px 0 0;
        }

        .gv-list-entry {
            background-color: #ffffff;
            margin-bottom: 30px;
            //border-bottom: 2px solid #d6d6d6;
            line-height: 1.4em;
            position: relative;

            @include mq(phablet) {
                  //margin-bottom: 50px;
            }
            @include mq(tablet) {
                  //margin-bottom: 70px;
            }

            @include mq(desktop) {
             &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 130px;
                margin-left: -130px;
                border-top: 1px solid $accent-blue-dark;
            }
        }
            @include mq(leftCol) {
             &:before {
               
                width: 130px;
                margin-left: -130px;
              
            }
            }

            @include mq(wide) {
             &:before {
               
                width: 210px;
                margin-left: -210px;
              
            }
            }




            .gv-list-entry-inner {
                .gv-list-entry-header {
                    position: relative;
                    min-height: 175px;
                    margin-bottom: 10px;
                    width: 100%;
                    background-color: $accent-blue-dark;
                    color: #fff;
                    vertical-align: top;
                    padding: 0 0 5px 0;
                    @include mq(phablet) {
                        padding: 0;
                        min-height: 175px;
                        width: calc(100% - 20px);
                    }

                    .gv-list-image-container {
                       //top: 5px;
                        margin: 0 0 5px 0;
                        height: auto;
                        position: relative;
                        overflow: hidden;
                    
                        @include mq(phablet) {
                            position: absolute;
                            width: 175px;
                            height: 175px;
                            top: 10px;
                            left: auto;
                            right: -20px;
                            padding: 0;
                            margin: 0;
                        }

                        @include mq(tablet) {
                            //position: absolute;
                            width: 240px;
                        height: 175px;
                        top: 10px;
                        right: -20px;
                        left: auto;
                        padding: 0;
                        margin: 0;
                        }

                        .gv-list-image {
                            // position: absolute;
                            position: relative;
                            // top: 0;
                            // left: 0;
                            //height: auto;
                            //margin-left: auro;
                            //margin-right: auto;
                            margin: 0 auto;
                            width: 100%; //width: 100%;
                            //top: -10px;
                            //height: 100%;
                            //background-color: #ff0000;
                            @include mq(phablet) {
                                width: auto;
                                height: 100%;
                                margin-left: -40%; //object-fit: cover;
                                top: auto;
                                //width: 100%;
                            }

                            @include mq(tablet) {
                                margin-left: -15%;
                            }
                        }
                        .gv-list-image-flag {
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                            height: 30px;
                            width: 30px;
                            background-color: #fff;
                            z-index: 100;
                            border-radius: 50%;
                            @include mq(phablet) {
                                display: none;
                            }
                        }
                    }
                    .gv-list-title {
                        padding: 4px 10px 5px 10px;
                        //padding: 4px 10px;
                        @include f-headline;
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: 600;
                        font-style: italic;
                        //position: absolute;
                            //width: 60%;
                            //width: calc(100% - 210px); //background-color: #fff;
                            //height: 55px;
                            //top: 5px;
                            //left: 35%;
                            //padding: 0;
                            //vertical-align: top;
                        @include mq(phablet) {
                            //  width: 460px;
                            // width: calc(100% - 210px); //background-color: #fff;
                            // height: 55px;
                            // top: 5px;
                            // left: 195px;

                             position: absolute;
                            width: 460px;
                            width: calc(100% - 210px);
                            //background-color: #fff;
                            height: 55px;
                            top: 10px;
                            //left: 195px;
                            left: 10px;
                            padding: 4px 0 0 0;
                            vertical-align: top;
                        }

                        @include mq(phabletPlus) {
                            font-size: 30px;
                            line-height: 32px;
                        }

                        @include mq(tablet) {
                            width: 460px;
                            width: calc(100% - 275px); //background-color: #fff;
                            height: 55px;
                            top: 10px;
                            //left: 260px;
                            left: 10px;
                            //padding: 0;
                            vertical-align: top;
                        }

                        @include mq(desktop) {
                            width: 460px; //background-color: #fff;
                            height: 55px;
                            top: 10px;
                            //left: 260px;
                            left: 10px;
                            //padding: 0;
                            vertical-align: top;
                        }

                        span {
                            padding-top: 5px;
                            display: inline-block;
                            vertical-align: top;
                            @include mq(phablet) {
                                padding-top: 12px;
                            }

                            @include mq(phabletPlus) {
                                padding-top: 6px;
                            }
                        }

                        span:nth-of-type(2) {
                            //padding-left: 5px;
                        }

                         .gv-list-number {
                    display: inline;
                    color: $accent-green;
                    padding-right: 5px;
                    position: relative;
                    //padding-top: 0!important;
                    //top: -5px;
                    

                    &:after {
                        display: inline;
                        //float: right;
                        content: "|";
                        //border-right: 1px solid $accent-green;
                        //height: 25px;
                        width: 8px;
                        padding-left: 5px;
                        opacity: 0.5;
                    }

                }

                .gv-list-title-name {

                    display: inline;

                    &:before {
                        content: "";
                        display: inline-block;
                        clear: both;
                    }

                }

                        .gv-list-flag {
                            display: none;
                            @include mq(phablet) {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                background-color: #fff;
                                border-radius: 50%;
                                margin-right: 10px;
                                margin-top: 8px;
                                vertical-align: top;
                            }
                        }
                    }
                    .gv-list-entry-info {
                        margin: 5px 10px;
                        display: table;
                        border-collapse: collapse;
                        position: relative;
                        //margin: 0;
                        width: calc(100% - 20px);
                        //top: 85px;
                        //left: 10px;
                         //height: 120px;
                        @include fs-textSans(3);
                        color: #fff;
                        @include mq(phablet) {
                            //position: absolute;
                            position: absolute;
                            margin: 0;
                            //height: 120px;
                            width: 300px;
                            width: calc(100% - 210px);
                            top: 60px;
                            //left: 195px;
                            left: 10px;
                        }

                        @include mq(tablet) {
                            width: 300px;
                            width: calc(100% - 275px);
                            //left: 260px;
                            left: 10px;
                        }

                        @include mq(desktop) {
                            //position: absolute;
                            margin: 0;
                            //height: 120px;
                            width: 345px;
                            top: 60px;
                            //left: 260px;
                            left: 10px;
                        }

                         @include mq(leftCol) {
                            //position: absolute;
                            
                            width: 310px;
                            
                        }

                        .gv-list-info-row {
                            display: table-row;
                            width: auto;
                            span {
                                border-top: 1px solid $accent-blue;
                                display: table-cell;
                                padding: 4px 0;
                                font-weight: 300;
                                &:nth-of-type(2) {
                                    color: #fff;
                                    font-weight: 800;
                                }
                            }
                            span.gv-details-change {
                                border-top: none;
                                display: inline-block;
                                padding: 0;
                                color: $accent-green;

                            }
                            span.gv-details-dim {
                                border-top: none;
                                display: inline;
                                padding: 0;
                                color: #636363;

                            }
                        }
                    }
                    .gv-list-pitch-graphic {
                        display: none;
                        @include mq(leftCol) {
                            display: block;
                            position: absolute;
                            background-color: transparent;
                            height: 70px;
                            width: 122px;
                            top: 60px;
                            //right: 20px;
                            left: 350px;
                        }

                        svg {
                            vector-effect: non-scaling-stroke;
                            #markers circle {
                                fill: #fff;
                                visibility: hidden;
                            }
                            #pitch path {
                                stroke: $accent-blue;
                            }
                        }
                    }
                }
                .gv-list-entry-body-text {

                    padding: 12px 10px;
                    @include mq(mobileLandscape) {

                    padding: 12px 10px;

                }


                    .gv-list-entry-description {
                        @include f-headline;
                        color: #121212;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 24px;
                        a {
                            color: #121212!important;
                            font-weight: 500;
                            text-decoration: underline;
                        }
                        strong a {
                            color: #121212!important;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.gv-grid-view {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: table; //background-color: $background-grey;
    min-height: 100vh; //transform: translateX(0);
    @include mq(desktop) {
        width: calc(100% - 50px);
        left: 50px;
        border-left: 1px solid transparent;
    } //transform: translateX(100vw);
    z-index: 200;
    &.open {
        position: relative;
        .gv-grid-view-inner {
            transform: translateX(0);
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            -ms-transition: -ms-transform 0.2s ease-out;
            -o-transition: -o-transform 0.2s ease-out;
            transition: transform 0.2s ease-out; // -webkit-transition-delay: 0.15s;
            // -moz-transition-delay: 0.15s;
            // -ms-transition-delay: 0.15s;
            // -o-transition-delay: 0.15s;
            // transition-delay: 0.15s;
            @include mq(desktop) {
                // -webkit-transition-delay: 0s;
                // -moz-transition-delay: 0s;
                // -ms-transition-delay: 0s;
                // -o-transition-delay: 0s;
                // transition-delay: 0s;
            }
        }
    }
    &.close {
        position: fixed;
        width: inherit;
        max-width: inherit;
        pointer-events: none; //transform: translateX(100vw);
        //transition: transform  0.15s linear;
        @include mq(desktop) {
            //display:block;
        }

        .gv-grid-view-inner {
            transform: translateX(100vw);
            -webkit-transition: -webkit-transform 0.2s ease-in;
            -moz-transition: -moz-transform 0.2s ease-in;
            -ms-transition: -ms-transform 0.2s ease-in;
            -o-transition: -o-transform 0.2s ease-in;
            transition: transform 0.2s ease-in;
        }
    }
    @include mq(desktop) {
        //transform: translateX(0);
        //position:relative;
        //left:0;
        //margin-left: 50%;
    }

    .gv-grid-view-inner {
        background-color: #fff; //margin: 20px 15px;
        padding: 20px 15px;
        //border-top: 1px solid #555; //width: 500px;
        min-height: 100vh;
        display: table-cell; //background-color: #ff0000;
        @include mq(desktop) {
            //margin: 20px 70px;
            padding: 15px 70px 30px 70px;
        }
    }
    .gv-grid {

  //        -ms-box-orient: horizontal;
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -moz-flex;
  // display: -webkit-flex;
  // display: flex;
  
  // -webkit-flex-flow: row wrap;





        width: 105%;
        width: -webkit-calc(100% + 5px);
        width: -moz-calc(100% + 5px);
        width: calc(100% + 5px);
        @include mq(phabletPlus) {
            width: 108%;
            width: -webkit-calc(100% + 20px);
            width: -moz-calc(100% + 20px);
            width: calc(100% + 20px);
        } // @include mq(desktop){
        //     width: 108%;
        //     width: -webkit-calc(100% + 20px);
        //     width: -moz-calc(100% + 20px);
        //     width: calc(100% + 20px);
        // }
    }
    .gv-grid-cell {

        position: relative;
        width: 50%; // 2 in row mobile default
        padding-bottom: 50%;
        height: auto;
        margin-bottom: 12px;
        box-sizing: content-box;
        float: left;
        height: 86px;

        &.gv-unpublished {
            pointer-events: none!important;
        }

        &.gv-deselected, &.gv-unpublished {
            opacity: 0.6;

img {
  //opacity: 0.5;
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}










             .gv-grid-cell-inner {
                //border-top: 1px solid #767676;

                .gv-cell-number {
                    //display: none;
                    color: #767676!important;
                }
            }
        }





        @include mq(phablet) {
            width: $three-in-row; // 3 in row phablet default
            padding-bottom: $three-in-row;
        }

        @include mq(tablet) {
            width: $four-in-row; // 3 in row phablet default
            padding-bottom: $four-in-row;
        }

        @include mq(desktop) {
            width: 20%; // 5 in row desktop default
            padding-bottom: 20%;
        }

        .gv-grid-cell-inner {

            position: absolute;
            top: 0;
            left: 0;
            right: 5px;
            bottom: 0px; //background: #767676;
            cursor: pointer;
            //border-top: 1px solid $accent-green;
            -webkit-transition: opacity 100ms ease-in-out;
            -moz-transition: opacity 100ms ease-in-out;
            -o-transition: opacity 100ms ease-in-out;
            transition: opacity 100ms ease-in-out;
            &:hover {
                //opacity: 0.8;
                 .gv-grid-cell-image-container .gv-grid-cell-image {
                 mix-blend-mode: normal;
                filter: none;
                -webkit-filter: none; //background: #ff0000;
                }
            }
            @include mq(phabletPlus) {
                right: 20px;
            }

             .gv-grid-cell-flag {
                    position: absolute;
                    left: 5px;
                    margin-top: -26%;
                    height: 30px;
                    width: 30px;
                    background-color: #fff;
                    z-index: 250;
                    border-radius: 50%;
            }

            .gv-grid-cell-image-container {
                width: 100%;
                position: relative;
                background: $accent-blue;
                padding-bottom: 100%;
                pointer-events: none;
                overflow: hidden;
                border-radius: 50%;
                .gv-grid-cell-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                     @include mq(desktop) {
            mix-blend-mode: hard-light;
            filter: contrast(1.25) grayscale(1) brightness(0.9);
            -webkit-filter: contrast(1.25) grayscale(1) brightness(0.9); //background: #ff0000;
            }
                }
                .gv-grid-cell-flag {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    height: 30px;
                    width: 30px;
                    background-color: #fff;
                    z-index: 250;
                    border-radius: 50%;
                }
            }
            .gv-cell-info {
                // font-family: $f-serif-headline;
                //@include fs-textSans(3);
                padding: 8px 5px 12px 0px;
                text-align: left;
                pointer-events: none;
                @include mq(phablet) {
                    text-align: left;
                }

                .gv-cell-number {
                    //display: none;
                    color: $accent-green;
                    padding-right: 5px;
                }
                .gv-cell-title {
                    @include fs-headline(3);
                    //@include f-headlineSans;
                    color: #121212;
                    font-size: 20px;
                    line-height: 22px;
                    @include mq(desktop) {
                    font-size: 22px;
                    line-height: 24px;
                    }
                    @include mq(leftCol) {
                    font-size: 24px;
                    line-height: 26px;
                    }
                }
                .gv-cell-subtitle {
                    padding-top: 2px;
                     @include fs-headline(3);
                     font-weight: 300;
                    font-size: 16px;
                    line-height: 18px;
                    font-style: italic;
                    color: #121212;
                    @include mq(desktop) {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
        &.disabled {}
        &:hover {
            //background: #767676;
        }
    }
}

.gv-hide {
    display: none;
}

.gv-blazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out; //max-width: 100%;
    opacity: 0;
}

.gv-grid-view .gv-blazy.b-loaded {
    opacity: 0.9;
}

.gv-list-view .gv-blazy.b-loaded {
    opacity: 1;
}

// FLAGS
.gv-flag {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #fff;
}

.gv-fixed {
    position: fixed !important;
}

.gv-band-extend {
    // position: absolute;
    // top: 0;
    // width: 2000px;
    // background-color: #222;
    // height: 100%;
    // &.gv-left {
    //     left: -2000px;
    // }
    // &.gv-right {
    //     right: -2000px;
    // }
    // &.gv-bottom {
    //     top: auto;
    //     bottom: 0;
    //     margin-left: -500%;
    //     height: 1px;
    //     width: 1000%;
    //     background: #fff;
    //     opacity: 0.2;
    // }
}

// .gv-main-content
// .gv-header-wrapper {
//     //margin-top: -10px!important;
//     max-width: 1300px;
//     margin: 0 auto;
//     background: #fff;
//     @each $bp in (tablet, desktop, wide) {
//         @include mq($bp) {
//             max-width: map-get($mq-breakpoints, $bp);
//         }
//     }
// }
.gv-header-background {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 1); //background-color: #2a2a2a;
    background-color: #222;
    z-index: 700;
    overflow: hidden; //background-image: url('<%= path %>/assets/sixty.svg');
}

.gv-header {
    position: relative;
    color: #fff;
    z-index: 750;
    max-width: 600px;
    padding: 0 12px 30px 12px;
    @include mq(desktop) {
        //margin: 0 auto;
        //width: 1240px;
        padding: 0 0 30px 120px;
    }
}

#gv-header-background-graphic {
    position: absolute;
    display: none;
    @include mq(desktop) {
        display: block;
        top: 40px;
        right: -90px;
        z-index: 800;
    }
}

.header-share-container {
    margin: 10px 0 20px; //background-color: #005689;
}

// .gv-counter {
//     position: relative;
//     right: -55px;
//     top: 45px;
//     z-index: 10;
//     background-color: #ff4242;
//     border-radius: 20px;
//     height: 20px;
//     width: 25px;
//     color: #fff;
//     @include fs-data(2);
//     padding-top: 5px;
// }
// .gv-arrows {
//     width: 100vw;
//     top: -20px;
//     @include mq(leftCol) {
//         margin-left: -160px !important;
//     }
//     @include mq(wide) {
//         margin-left: -240px !important;
//     }
//     @include mq(desktop, tablet) {
//         margin-left: -20px !important;
//     }
// }
.gv-header-wrapper {
    position: relative;
    z-index: 725; //background-color: #005689;
    color: white;
    background-color: #2a2a2a;
    max-width: 1300px;
    margin: 0 auto; // @each $bp in (tablet, desktop, wide) {
    //     @include mq($bp) {
    //         max-width: map-get($mq-breakpoints, $bp);
    //     }
    // }
    //padding-bottom: 60px;
    // &:after {
    //     background-image: url("<%= path %>/assets/arrows.png");
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     position: absolute;
    //     right: 0;
    //     content: '';
    //     width: 100%;
    //     height: 100px;
    //     vertical-align: baseline;
    //     display: none;
    // }
    // img & {
    //     width: 100%;
    // }
}

.gv-header .gv-standfirst {
    @include mq($until: desktop) {
        line-height: 23px;
    }

    a {
        color: #999999 !important;
        font-weight: 600 !important;
        text-decoration: underline !important;
    }
}

.gv-header .gv-strap {
    color: $accent-green;
    @include fs-headline(8);
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    @include mq($until: desktop) {
        font-size: 16px;
    }

    a {
        color: $accent-green;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// .gv-groups-strap {
//     @include fs-textSans(4);
//     font-weight: 900;
//     font-size: 16px;
//     display: inline-block;
//     width: 100%;
//     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
// }
.gv-header {
    padding-top: 10px;
}

.gv-header h1 {
    @include fs-headline(8);
    font-size: 36px;
    line-height: 40px;
    font-weight: 100;
    @include mq($from: desktop) {
        font-size: 54px;
        line-height: 58px;
    }
}

.gv-header p {
    margin-top: 10px;
}

.interactive-share {
    height: 32px;
    width: 32px;
    border-radius: 34px;
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    &[data-network='facebook'] {
        background-image: url("<%= path %>/assets/facebook.svg");
        background-color: #3067a3;
    }
    &[data-network='twitter'] {
        background-image: url("<%= path %>/assets/twitter.svg");
        background-color: #03b3ee;
    }
    &[data-network='email'] {
        background-image: url("<%= path %>/assets/mail.svg");
        background-color: #767676;
    }
}

.interactive-share:hover {
    cursor: pointer;
    opacity: 0.9;
}

.gv-footer {
    position: relative;
    width: 100%;
    //background-color: #ffffff;
    z-index: 900;
    .gv-footer-photo-credit {
        padding: 10px 5px 100px 5px;
        @include f-headlineSans;
        font-size: 13px;
        line-height: 1.2em;
        color: #767676;
        @include mq($from: desktop) {
            padding: 10px 5px 100px 50px;
        }
    }
}